<div class="topBar">
    
    <div class="logo"></div>
    
    
    <div class="navBar">
        <ul>
            <li>About</li>
            <li>Gallery</li>
            <li>Contact</li>
        </ul>
    </div>
    
</div>