<div class="skillsMeter">
    <div class="meter">
      <span style="width: 85%">HTML/CSS 85%</span>
    </div>
    <div class="meter" id="orange">
      <span style="width: 80%" class="orange">Javascript 70%</span>
    </div>
    <div class="meter" id="red">
        
      <span style="width: 78%" >SEO 78%</span>
    </div>
</div>