<div class="about">
    
    <!-- Skills -->
    
    <div class="skillsSection">
        
        <h1>Name Goeshere</h1>
        <div class="headshot"></div>
        <h2>Aquired Skills</h2>
        <% include partials/skills_meter.ejs %>
    </div>
    
    <!-- About me -->
    
    <div class="aboutMe">
        
        <% include text_content/aboutme.ejs %>
        
    </div>
</div>