<!-- container start -->
<div class="intro">
    
    <div class ="inner">
        
        <% include partials/nav.ejs %>
        
        <div class="title">
        	<h1>Name Goeshere</h1>
        	<p1> Condimentum Vehicula Malesuada Bibendum
        	<br> Magna Fusce Risus Tellus</p1>
        	<br>
    		
        	<button class="readMoreButton">Read More</button>
        </div>
    </div>


</div>
